minecraft/*
!minecraft/pre-launch.sh
!minecraft/pre-launch.bat
!minecraft/install-java.sh
!minecraft/install-java.bat
!minecraft/switch-to-optifine.sh
!minecraft/switch-to-optifine.bat
!minecraft/switch-to-celeritas.sh
!minecraft/switch-to-celeritas.bat
!minecraft/packwiz-installer-bootstrap.jar
!minecraft/jre25/
minecraft/jre25/*
!minecraft/jre25/java-bootstrap
!minecraft/jre25/java-bootstrap.exe
!minecraft/java-bootstrap
!minecraft/java-bootstrap.bat
release
packwiz
.github_token
mods/*.jar
resourcepacks/*.zip
shaderpacks/*.zip
packwiz-installer.jar
packwiz.json
